html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #efefef;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h2{
    font-weight: 100;
    margin: 0 0 10px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 6px;
	margin: 0 0 5px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.sr-only {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

button {
    background-color: rgba(71, 106, 111, .1);
	border: .5px solid rgba(71, 106, 111, .6);
	display: block;
    padding: 10px;
	transition: .5s background;
	width: 100%;
}
button:hover,
button:focus {
    background-color: rgba(71, 106, 111, .3);
    outline: 0;
}
button:active {
    background-color: rgba(71, 106, 111, .5);
}
button.link-button{
	background: none;
	border: 0;
	color: #333;
	cursor: pointer;
	padding: 10px;
	text-decoration: underline;
	transition: all .5s;
}
button.link-button:hover,
button.link-button:focus{
	font-weight: bold;
}