html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #fff;
	color: #222;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h2{
	font-weight: bold;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 32px;
	text-align: center;
	margin: 0 0 30px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 6px;
	margin: 0 0 5px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.sr-only {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

button {
    background-color:#222;
	border: 0;
	border-radius: 30px;
	color: #efefef;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13  px;
	display: block;
    padding: 10px;
	transition: .5s all;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 20px;
	cursor: pointer;
}
button:hover,
button:focus {
		background-color:#008ae6;
    outline: 0;
}
button:active {
    background-color:#008ae6;
}
button.link-button{
	background: none;
	border: 0;
	color: #333;
	cursor: pointer;
	padding: 10px;
	text-decoration: underline;
	transition: all .5s;
}
button.link-button:hover,
button.link-button:focus{
	font-weight: bold;
}

.chart-wrapper{
	min-height: 70vh;
}